<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
  {% include 'partials/head.html' %}
</head>
<body>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="btn" href="{{ url_for('main.index') }}"><i class="bi bi-chevron-left"></i> Back</a>
  </div>
</nav>

<div class="container my-4">
  <h1 class="display-6 fw-bold text-body-emphasis text-center mb-5">{% block header %}{% endblock %}</h1>
  {% block content %}
  {% endblock %}
</div>

{% include 'partials/footer.html' %}

</body>
</html>