{% extends "home/base_sign.html" %}

{% block title %}Sign-in{% endblock %}

{% block header %}Sign-in{% endblock %}

{% block content %}

<div class="col-lg-5 mx-auto">
  <form class="p-3 p-md-4 border rounded-3 bg-body-tertiary">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="Email" required>
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" placeholder="Password" required>
      <label for="password">Password</label>
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="m-0 mt-3 text-center"><a class="link-secondary" href="{{ url_for('sign_up') }}">Don't have an account?</a></p>
  </form>
</div>

{% endblock %}