{% extends "dashboard/base_dashboard.html" %}

{% block title %} | Dashboard{% endblock %}

{% import 'partials/thumbnail_card.html' as thumbnail_card_template %}

{% block content %}

<div class="container-fluid p-0">
    <!-- existing sets -->
    {% if course %}
        {% for unit in course %}
            <hr>
            <div class="unit pb-5">
                <h2 class="mb-5"><span class="text-secondary me-2" style="font-weight: normal;">Unit {{ unit.id }}</span> {{ unit.title }}</h2>
                {% if unit.concepts %}
                    {% for concept in unit.concepts %}
                        <h3 class="mt-4" style="font-weight: normal;">{{ concept.concept }}</h3>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 mt-1">
                            {% if concept.cards %}
                                {% for card in concept.cards %}
                                    <div class="col">
                                        {{ thumbnail_card_template.thumbnail_card(
                                            title=card.front,
                                            description='Beginner'
                                        ) }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>There are no cards. <a href="#">Generate.</a></p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no concepts.</p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>There is no content.</p>
    {% endif %}
</div>

{% endblock %}