/* css/styles.css */

body {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}
.hover-highlight {
    color: var(--bs-body-color);
    transition: color 0.1s ease-out;
}
.hover-highlight:hover {
    color: var(--bs-primary);
}

/* ------------------------------------------------------------
    Thumbnails
*/

.thumbnail {

}

.thumbnail-card {
    aspect-ratio: 5 / 3;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    text-decoration: none;
    color: var(--bs-body-color);
}

.thumbnail-card i {
    font-size: 42px;
}

.thumbnail-flashcard {
    background-color: var(--bs-secondary-bg);
    background-image: url('../images/flashcard.png');
    background-size: cover;
    border-radius: 6px;
    border: 1px solid rgba(24,52,78,0.10);
    box-shadow: inset 0px -1px 6px -4px rgba(24,52,78,0.33);
    transition: scale 0.1s ease-out;
}
.thumbnail-flashcard:hover {
    scale: 1.05;
}

.thumbnail-title {
    font-weight: bolder;
    font-size: 18px;
}

.thumbnail-description {
    margin-top: 8px;
    color: var(--bs-secondary);
    text-align: center;
    font-size: 14px;
}

.thumbnail-new{
    transition: color 0.1s ease-out;
}
.thumbnail-new:hover {
    color: var(--bs-primary);
}


/* ------------------------------------------------------------
    Directory Header
*/

.directory-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.directory-header i {
    font-size: 28px;
    margin-left: -36px;
}

@media (max-width: 576px) {
    .directory-header i {
        margin-left: -12px;
    }
}

@keyframes loadingIndicator {
    0% { backdrop-filter: hue-rotate(0deg); filter: hue-rotate(0deg) }
    100% { backdrop-filter: hue-rotate(360deg); filter: hue-rotate(360deg) }
}

.loading-indicator {
    background: hsl(0, 100%, 80%);
    animation: loadingIndicator 2s infinite linear;
}

/* ------------------------------------------------------------
    New Deck
*/
.text-line {
    height: 2px;
    width: 100%;
    background-color: var(--bs-secondary-bg);
}
.input-lg {
    border: none;
    background: none;
    width: 100%;
}
.input-lg:focus {
    outline: none;
}
.input-lg::placeholder {
    color: var(--bs-tertiary-color);
}