/* css/styles.css */

/* ------------------------------------------------------------
    Variables
*/

:root {
    /* borders */
    --card-border: 1px solid rgba(24,52,78,0.10);

    /* shadows */
    --card-shadow: inset 0px -1px 6px -4px rgba(24,52,78,0.33);

    /* transitions */
    --transition-fast: 0.1s ease-out;
    --transition-medium: 0.2s ease-out;
}

/* ------------------------------------------------------------
    Main Elements
*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Keeps the footer at the bottom of the page */
#content {
    flex-grow: 1;
}

.cursor-pointer {
    cursor: pointer;
}
.hover-highlight {
    color: var(--bs-body-color);
    transition: color var(--transition-fast);
}
.hover-highlight:hover {
    color: var(--bs-primary);
}

/* ------------------------------------------------------------
    Thumbnails
*/

.thumbnail {

}

.thumbnail-card {
    aspect-ratio: 5 / 3;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    text-decoration: none;
    color: var(--bs-body-color);
}

.thumbnail-card i {
    font-size: 42px;
}

.thumbnail-flashcard {
    background-color: var(--bs-secondary-bg);
    background-image: url('../images/flashcard.png');
    background-size: cover;
    border-radius: 6px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    transition: transform var(--transition-fast);
}
.thumbnail-flashcard:hover {
    transform: scale(1.05);
}

.thumbnail-title {
    font-weight: bolder;
    font-size: 18px;
}

.thumbnail-description {
    margin-top: 8px;
    color: var(--bs-secondary);
    text-align: center;
    font-size: 14px;
}

.thumbnail-new{
    transition: color var(--transition-fast);
}
.thumbnail-new:hover {
    color: var(--bs-primary);
}

.thumbnail-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform var(--transition-fast);
}
.thumbnail-deck-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bs-secondary-bg);
    background-image: url('../images/flashcard.png');
    background-size: cover;
    border-radius: 6px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    transition: transform var(--transition-medium);
    transform: scale(0.98) translateY(-2px);
}
.thumbnail-deck-background-empty {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bs-secondary-bg);
    background-image: url('../images/deck.png');
    background-size: cover;
    border-radius: 2px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    filter: brightness(0.95);
}
.thumbnail-deck-foreground {
    width: 100%;
    height: 100%;
    background-color: var(--bs-secondary-bg);
    background-image: url('../images/deck.png');
    background-size: cover;
    transition: transform var(--transition-fast);
    mask-image: url('../images/deck-mask.svg');
    border-radius: 1px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    z-index: 1;
    /* center the text */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    text-decoration: none;
    color: var(--bs-body-color);
}
.thumbnail-deck:hover .thumbnail-deck-background {
    transform: scale(0.98) translateY(-16px);
}
.thumbnail-deck:hover {
    transform: scale(1.05);
}


/* ------------------------------------------------------------
    Directory Header
*/

.directory-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.directory-header i {
    font-size: 28px;
    margin-left: -36px;
}

@media (max-width: 576px) {
    .directory-header i {
        margin-left: -12px;
    }
}

@keyframes loadingIndicator {
    0% { backdrop-filter: hue-rotate(0deg); filter: hue-rotate(0deg) }
    100% { backdrop-filter: hue-rotate(360deg); filter: hue-rotate(360deg) }
}

.loading-indicator {
    background: hsl(0, 100%, 80%);
    animation: loadingIndicator 2s infinite linear;
}

/* ------------------------------------------------------------
    New Deck
*/
.text-line {
    height: 2px;
    width: 100%;
    background-color: var(--bs-border-color);
}
.input-lg {
    border: none;
    background: none;
    width: 100%;
}
.input-lg:focus {
    outline: none;
}
.input-lg::placeholder {
    color: var(--bs-tertiary-color);
}
#input-lg-feedback {
    color: var(--bs-danger);
}

#outline {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#confirm {
    position: sticky;
    bottom: 0;
    background: var(--bs-body-bg);
    display: flex;
    justify-content: end;
    border-top: 2px solid var(--bs-border-color);
}