<!-- templates/partials/flash_messages.html -->

<div class="vw-100 fixed-bottom">
  <div class="container p-2 w-50">
    {% for category, message in messages %}
      <!-- alert message -->
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <!-- custom icons for alert types -->
        {% if category == 'success' %}
          <span class="me-2"><i class="bi bi-check-circle"></i></span>
        {% elif category == 'danger' %}
          <span class="me-2"><i class="bi bi-exclamation-circle"></i></span>
        {% elif category == 'warning' %}
          <span class="me-2"><i class="bi bi-exclamation-triangle"></i></span>
        {% elif category == 'info' %}
          <span class="me-2"><i class="bi bi-info-circle"></i></span>
        {% else %}
          <span class="me-2"><i class="bi bi-info-circle"></i></span>
        {% endif %}
        <!-- message -->
        <span>{{ message }}</span>
        <!-- close button -->
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  </div>
</div>