<div class="container">
  <footer class="py-3 my-5">
    <p class="text-center text-body-secondary"><a href="#" class="link-secondary" data-bs-toggle="modal" data-bs-target="#team">CardApp is a University Project</a></p>
  </footer>
</div>

<div class="modal fade" id="team" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="teamModalLabel">The CardApp Team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Bradley Davis</p>
        <p>Ty O'Donnell</p>
        <p>Jinmei Li</p>
        <p>Owais Saeed</p>
      </div>
    </div>
  </div>
</div>