<footer class="container-fluid pt-3">
  <p class="text-center text-body-secondary"><a href="#" class="link-secondary" data-bs-toggle="modal" data-bs-target="#team">CardApp is a University Project</a></p>
</footer>

<div class="modal fade" id="team" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="teamModalLabel">The CardApp Team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p><strong>Bradley Davis</strong><br>AI-Engineer, Full-Stack Developer</p>
        <p><strong>Ty O'Donnell</strong><br>Full-Stack Developer</p>
        <p><strong>Jinmei Li</strong><br>Front-End Developer</p>
        <p><strong>Owais Saeed</strong><br>Back-End Developer</p>
      </div>
    </div>
  </div>
</div>