<!-- partials/navbar.html -->

{% macro navbar(back_url, back_label, page_title, options_menu, user_name) %}
<nav class="navbar sticky-top navbar-expand-lg py-3 px-1">
  <div class="container-fluid">
    <!-- left content -->
    <div class="text-left d-flex justify-content-start w-25">
      {% if back_url %}
        <a class="btn btn-link text-body text-decoration-none px-0" href="{{ back_url }}">
          <i class="bi bi-chevron-left me-2"></i>
          {% if back_url %}
            {{ back_label }}
          {% endif %}
        </a>
      {% endif %}
    </div>
    <!-- center content -->
    <div class="text-center d-flex justify-content-center">
      {% if page_title %}
        <span class="navbar-brand mb-0 h1">{{ page_title }}</span>
      {% endif %}
    </div>
    <!-- right content -->
    <div class="text-right d-flex justify-content-end w-25">
      {% if options_menu %}
        <div class="dropdown">
          {% if user_name %}
            <a class="btn btn-link text-body text-decoration-none d-flex justify-content-end align-items-center gap-2" href="#" data-bs-toggle="dropdown">
              <span>{{ user_name }}</span>
              <div class="rounded-circle me-2" style="background: none; aspect-ratio: 1 / 1; height: 32px; display: flex; align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
              </div>
            </a>
          {% else %}
            <a class="btn btn-link text-body text-decoration-none" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-list"></i>
            </a>
          {% endif %}

          <ul class="dropdown-menu dropdown-menu-end">
            {% for option in options_menu %}
              <li><a class="dropdown-item" href="{{ option.url }}">
                {% if option.icon %}
                  <i class="bi {{ option.icon }} me-2"></i>
                {% endif %}
                {{ option.name }}
              </a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
{% endmacro %}