<!-- partials/thumbnail_card.html -->

{% macro thumbnail_card(title, count) %}
  <div class="thumbnail">
    <div class="thumbnail-card thumbnail-deck">
      {% if count %}
        <div class="thumbnail-deck-background"></div>
      {% else %}
        <div class="thumbnail-deck-background-empty"></div>
      {% endif %}
      <div class="thumbnail-deck-foreground">
        <span class="thumbnail-title">
          {{ title }}
        </span>
      </div>
    </div>
    {% if count %}
      <div class="thumbnail-description">{{ count }} {% if count == 1 %}card{% else %}cards{% endif %}</div>
    {% else %}
      <div class="thumbnail-description">0 cards</div>
    {% endif %}
  </div>
{% endmacro %}