.card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.newDeckCard {
    border: 2px dashed rgba(0,0,0,0.3);
    background-color: transparent;
}

.newDeckCard .cardBody {
    flex-direction: column;
}

.newDeckCard .plus {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}